button{
  margin-left: 2rem;
  height: 4rem;
  width: 6rem;
  border: none;
  background-color: rgb(255, 106, 47);
  color: white;
  font-size: large;
  border-radius: 10px;
}
.notes{
  width: 200px;
  height: 200px;
  border: 1px solid black;
}
input{
  width: 18rem;
  height: 3rem;
  font-size: 2rem;
  outline: none;
  
}

